<footer>
    <div>@Document.GetString(WebKeys.Copyright). Generated with <a href="https://statiq.dev/" target="_blank">Statiq</a>.</div>
    <div>Wanna see how it works? Check it out on <a href="https://github.com/zunderscore/zunderscore.tv" target="_blank">GitHub</a>.</div>
</footer>