<header>
    <div class="page-title"><a href="/">zunderscore.tv</a></div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="https://store.zunderscore.tv/" target="_blank">Merch <svg class="nav-icon" style="width:16px;height:16px;" viewBox="0 0 24 24"><path fill="currentColor" d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" /></svg></a></li>
    </ul>
</header>