<header>
    <div class="page-title"><a href="/">zunderscore.tv</a></div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/merch" target="_blank">Merch</a></li>
        <li><a href="/mediakit" target="_blank">Media Kit</a></li>
    </ul>
</header>